/*
	Colours
*/

$yellow: #ffe100;
$darkblue: #333545;
$main-blue: #40508e;
$gray: #ececec;
$darkgray:#c7c7c7;
$black: #000;
$white:  #fff;
$offblack:#333;
$offgray: #d6d5d5;
$offwhite: #f3f3f3;
$deepgray:  #464a4e;
$placeholder: #868e96;


/*
  Radius
*/

$br01 : 20px;
$br02 : 5px;


/*
Fonts
*/
$fontrobo : 'Roboto', sans-serif!default;
$fontnu: 'Nunito', sans-serif!default;

$base-font-size: 14px;
$h1-font-size: 36px;
$h2-font-size:18px;
$h3-font-size: 16px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$g-font-size: 18px;



// Responsive Guide
/*
@media (min-width: 576px) {  }
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {  }

@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }
*/


//font-family: 'Roboto', sans-serif;
//font-family: 'Nunito', sans-serif;
