/* only home Page Cases independent */

.create-intro {
  @include rem(padding, 40px 0);

  @include mq(sm){
    @include rem(padding, 80px 0);
  }
  h2{
    color: $yellow;
  }
  p {
    color: $white;
  }
}


// animation rest @ start
.home .hero h1,
.home .hero p,
.home .btn-hero,
.home .featured-companies h3,
.home .featured-projects h3,
.home .sidebar-01,
.home .sidebar-02,
.home .footer,
.home .company-box,
.home .project-box,
.home .create-intro {
  transform: scale(0,0);
}
