/*
Images
*/

.img-full {
  width: 100%;
}

.img-thumb-contact {
  border-radius: 50%;
  max-width: 35px;
  border: 1px solid $yellow;
  @include rem(margin-right, 5px);
}

.error-img {
  clear: both;
  display: block;
  max-width: 400px;
  max-height: 386px;
  @include rem(margin, 50px auto);
}


/* images Hover Circle Effect */
.img-hover {
  overflow: hidden;
  cursor: pointer;

  figure {
  	position: relative;

    &:before {
      position: absolute;
    	top: 50%;
    	left: 50%;
    	z-index: 2;
    	display: block;
    	content: '';
    	width: 0;
    	height: 0;
    	background: rgba(255,255,255,.2);
    	border-radius: 100%;
    	-webkit-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
    	opacity: 0;
    }

    &:hover::before {
      -webkit-animation: circle .75s;
    	animation: circle .75s;
    }
  }
}


//keyframe for Cricle 
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
