/*
DashBoard Tables
*/

.table {
  border: 1px solid rgba(0,0,0,.125);
  td {
    vertical-align: middle;
  }

  label.custom-control {
    margin: 0;
    margin-bottom: -5px;
  }
}


.sm-info {
  display: block;
}
.thead-blue {
  background: $main-blue;
  color: $yellow;

  a {
    color: $yellow;
    font-weight: 300;
  }
}
