
.footer {
  background: $gray;
  @include rem(padding, 25px 15px 10px);

  a {
    color: $main-blue;
    font-weight: 400;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: $darkblue;
      font-weight: 300;

      &:hover{
        color: $black;
        text-decoration: none;
      }
    }
  }
}

.newsletter {
  .btn {
    border-radius: 0;
    height: auto;
    line-height: 1;
    @include rem(padding, 0 15px)
  }

  input {
    &:focus,
    &:hover,
    &:active {
      outline:none !important;
      box-shadow: none!important;
    }
  }
}
