/*
Alert Boxes
*/

.alert {
  border: 0;
  border-radius: 0;

  h3 {
    @include rem(padding, 0 0 10px 0);
    font-weight: 400;

    i {
      @include rem(padding-right, 5px);
    }
  }
}
.alert-secondary {
  background: $gray;
}

.alert-dismissible {
  .close{
    @include rem(padding, 2px 7px);
  }
}

.alert-yellow {
  background: $yellow;

  p {
    color: $main-blue;
  }
}

.alert-dark {
  p {
    color: $deepgray;
  }
}

.claim-company-request {
  .alert {
    p {
      font-weight: 500;
      line-height: 30px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

}
