/* Box-block Global */
.box-block {
  p {
    font-weight: 300;
    color: $darkblue;

    &.address {
      color: $main-blue;
    }

    &.thumb-title {
      font-weight: 400;
      color: $main-blue;
      @include rem(font-size, $h2-font-size);
    }

    &.tags {
      font-style: italic;
      a {
        font-weight: 400;
        color: $main-blue;
        font-style: normal;
      }
    }
  }
}


/* Gray Box Universal */
.box-block-gray {
  background: $gray;
  @include rem(padding,0 10px 20px);

  h3 {
    @include rem(padding,10px 0);
    @include rem(margin-bottom,10px);
    border-bottom: 1px solid $darkgray;
  }

  .btn-more {
    color: $main-blue;
  }

}

/*
Download Boxes
*/
.download-box {
  background: $gray;
  @include rem(padding,20px);

  a {
    color: $main-blue;
    text-decoration: none;
    i {
      @include rem(margin-right,10px);
    }
    &:hover{
      color: $offblack;
    }
  }
}

/*
White Box
*/
.box-block-white {
  background: $white;
  border: 2px solid $gray;
  @include rem(padding-bottom,30px);

  h4 {
    @include rem(padding,10px 20px);

    i {
      color: $main-blue;
      @include rem(padding-top,12px);
    }
  }
}


/*
New Box block
*/
.featured-block-gray {
  background: $light-gray;
}
.box-block-into {
  width: 100%;
  border-radius: 5px;
  background: $white;
  box-shadow: 0 0 8px 0 rgba(124,124,124,0.14);
  @include transition(all .4s ease);


  p {
    font-weight: 400;
    @include rem(font-size, $base-font-size - 3px);
  }

  a {
    font-weight: 400;
    @include rem(font-size, $base-font-size - 2px);
    text-decoration: none;

  }

  .img-height {
    min-height: 135px;
  }

  .img-box {
    width: 100%;
    height: auto;
  }
}

.box-gray {
  box-shadow: none;
  background: $light-gray;

  &:hover{
    background: $white;
    box-shadow: 0 0 8px 0 rgba(124,124,124,0.14);
  }
}

.box-trans {
  background: none;
  box-shadow: none;
  border-radius: 0;
}

/* Partners Page Box */
.team-box {
  h3,
  p {
    text-align: right;
  }

  .img-hover {
    border-radius: 5px 5px 0 0;
  }
}

/* About Team Box */

.rightcol {
  direction: ltr;
  .team-box {
    h3,
    p {
      text-align: left;
    }

    .img-hover {
      border-radius: 5px 5px 0 0;
    }
  }
}
