/*
Company Details Page SideBar
*/

.rating-sidebar {

    h5 {
      font-size: 12px;
    }
    .rating-sidebar-block{
      float: left;
      @include rem(margin-right,10px)
    }

    @include mq(lg){
      h5 {
        font-size: 14px;
      }
      .rating-sidebar-block{
        float: none;
        @include rem(margin-right,0)
      }
    }
}

.vcard-list li {
  span[data-replace]{
    .btn {
      color: $yellow;
      font-size: 14px;
      line-height: 14px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
      cursor: pointer;
      .fa {
        margin-left: 0px;
        font-size: 14px;
        line-height: 20px;
      }
  }
}
