/* Project Boxes */

.project-box {
  background:$gray;
  @include rem(padding,10px 20px 20px);
  @include mq(md){
  };
}

.project-box-side {
  background: none;
  @include rem(padding,10px 0 20px);
  border-bottom: 1px solid $gray;
}
