/* Star Rating */

.star-rating {
  .list-inline-item {
    margin: 0;

    &.thumb-review {
      @include rem(margin-left, 10px);
    }
  }
  li i {
    color: $black;
    opacity: 0.3;
  }
  li.active i {
    color: $yellow;
    opacity: 1;
  }
}
