/* Star Rating */

@import '/bower_components/jquery-bar-rating/dist/themes/fontawesome-stars.css';
.star-rating {
  .list-inline-item {
    margin: 0;

    &.thumb-review {
      @include rem(margin-left, 10px);
    }
  }
  .br-widget a {
    font-size: 14px;
    color: $black;
    opacity: 0.8;

    &:hover,
    &.br-active:after,
    &.br-selected:after {
      color: $yellow;
      opacity: 1;
    }
  }
}
