/* Star Rating */
// plugin src
.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}



.star-rating {
  .list-inline-item {
    margin: 0;

    &.thumb-review {
      @include rem(margin-left, 10px);
    }
  }
  .br-widget a {
    font-size: 14px;
    color: $black;
    opacity: 0.8;

    &:hover,
    &.br-active:after,
    &.br-selected:after {
      color: $yellow;
      opacity: 1;
    }
  }
}

/* case for Review customer Star rating alert */
.star-rating-3x {
  .br-widget {
    a {
      font-size: 28px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    vertical-align: middle;
  }
}
